*{
    margin: 0;
}
body {
    /* background-image: url(../public/addedImg/1168031.jpg); */
    background-image: url(https://images8.alphacoders.com/118/1189974.jpg);
    /* background-repeat: no-repeat; */
    background-size: cover;
    height: 100vh;

padding-bottom: 30px;

}
.mask {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.37);

}
main {
    position: relative;
    margin: 30px 0;
    background-color: rgba(174, 179, 180, 0.644) ;

}
nav {
    height: 80px;
    background-color: transparent;
    backdrop-filter: blur(2px);
   
   
}
nav a {
    color: #fff !important;
}
.navigation {
    position: absolute;
    /* height: 100px; */
  
}


#section, #byType {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    width: 70%;
    min-width: 700px;
    max-width: 1800px;
    margin: auto;


}
.search-results, .new-div {
    display: flex;
    flex-direction: column;
    justify-content: start;
    border: 1px solid black;
    width: 400px;
    height: 400px;
    border-radius: 2rem;
    background-color: rgba(19, 41, 7, 0.699);
    backdrop-filter: blur(5px);
    color: #fff;
    padding: 15px;
}

.new-div {
    background-color: rgb(37, 38, 39);
    color: chocolate;
}
.search-results p, .new-div p {
    margin-bottom: 5px;
}
::-webkit-scrollbar {
    display: none;
}
/* #byType {
    position: absolute;
    top: 30px;
} */
#btn-reset{
    border-radius: 5px;
    border-color: rgba(128, 128, 128, 0.425);
    margin-top: 10px;
}
#btn-reset:hover {
    border-color: #000;
    transform: scale(1.03);
}
